@tailwind base;

h2, h3, h4,a,
.recipe-content h3 { @apply text-green-700; }
a:hover { @apply underline;}
h2, h3 { @apply font-display tracking-wider
            border-b-2 border-green-600;}
h2 { @apply text-4xl mb-6; margin-left: -1em;}
h3 { @apply text-2xl; margin-left: -1em; margin-bottom: 0.5em;
     margin-top:1em; }

p + p { margin-top: 0.75rem;}
p { font-size: 1.2rem; }

@media screen and (max-width: 639px) {
  p { font-size: 1.0rem; }
}

@tailwind components;

@tailwind utilities;